body{
background-color: #63707e;
    }

    hr {
      border-style:  none;
      border-top-style: dotted;
      border-color: #00334e;
      border-width: 5px;
      width: 5%;
      }
      h1{
        color: #17223b;
      }
      h3{
        color: #263859;
      }
